 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Driven and aspiring individual who has great analytical and problem-solving skills. 
                        Ability to work independently as well as part of a team in an agile environment, producing creative and innovative ideas. 
                        With strong programming skills I thrive in challengeing enviroment which contributed to  learning and self development. 
                        I am passionate about all things Data and technology ,finding meaningful insights and executing excellent AI driven solutions .
                        I hold a Bsc Mathematics Degree from univeristy of Pretoria .NQF LEVEL 5 in  information Technology system developent ExploreAI academy and NQF Level in Banking services from Milpark Education.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Code skills</h3>

                    <ol>
                    <li>Python</li>
                    <li>SAS</li>
                    <li>SQL</li>
                    <li>OCTAVE</li>
                    <li>HTML</li>
                    <li>MATLAB</li>
                    </ol> 
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/Elelwani_Tshikovhi_CV.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
