 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Driven and aspiring individual who has great analytical and problem-solving skills. 
                        Able to work independently as well as part of a team, able to produce creative and innovative ideas. 
                        With strong programming skills  i love  being challenged and learning which contribute to my self development. 
                        I am passionate about all thing Data and technology ,finding meaningful insights and executing excellent AI driven solutuions .             It will appear in your document head meta (for Google search results) and in your feed.xml site description.".</p>
                </div>
                <div class="col-lg-4">
                    <p>code skills: "Python,MATLAB, OCTAVE, SAS, and SQL.! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
